[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".pentadactyl/colors/solarized"]
	path = .pentadactyl/colors/solarized
	url = https://github.com/claytron/pentadactyl-solarized.git
