[user]
    name = Alexis Daboville
    email = alexis.daboville@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    br = branch
    ci = commit
    co = checkout
    di = diff
    last = log -1 HEAD
    me = merge
    pop = stash pop
    st = status -s

    forget = update-index --assume-unchanged
    l = log --graph --all --date=relative\
        --pretty=format:'%C(cyan)%h%Creset %s %C(green)[%an/%cr]%Creset%C(red)%d%Creset'
    unstage = reset HEAD
    update-all-submodules = submodule foreach git pull origin master

    remotes = remote -v
    branches = branch -va
[core]
    editor = vim
[merge]
    tool = vimdiff
[pull]
    default = current
[push]
    default = current
[rerere]
    enabled = true
