[user]
    name = Alexis Daboville
    email = alexis.daboville@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    br = branch
    ci = commit
    co = checkout
    di = diff
    last = log -1 HEAD
    me = merge
    pop = stash pop
    st = status -s

    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim -p `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
    forget = update-index --assume-unchanged
    l = log --graph --all --date=relative\
        --pretty=format:'%C(cyan)%h%Creset %s %C(green)[%an/%cr]%Creset%C(red)%d%Creset'
    update-all-submodules = submodule foreach git pull origin master

    amend = commit --amend
    branches = branch -va
    drop-last = reset --soft HEAD^
    remotes = remote -v
    tags = tag -l
    unstage = reset HEAD
[core]
    editor = vim
[merge]
    tool = vimdiff
[pull]
    default = current
[push]
    default = current
[rerere]
    enabled = true
[diff]
    algorithm = patience
[credential]
    helper = cache
[branch]
    autosetuprebase = always
