[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/vim-visual-star-search"]
	path = .vim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/vim-projectroot"]
	path = .vim/bundle/vim-projectroot
	url = https://github.com/dbakker/vim-projectroot.git
[submodule ".vim/bundle/vim-end-wise"]
	path = .vim/bundle/vim-end-wise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/tabline.vim"]
	path = .vim/bundle/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule ".vim/bundle/vim-fetch"]
	path = .vim/bundle/vim-fetch
	url = https://github.com/alexis-d/vim-fetch.git
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/readline.vim"]
	path = .vim/bundle/readline.vim
	url = https://github.com/ryvnf/readline.vim.git
[submodule ".vim/bundle/rainbow_csv"]
	path = .vim/bundle/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule ".vim/bundle/vim-redact-pass"]
	path = .vim/bundle/vim-redact-pass
	url = https://dev.sanctum.geek.nz/code/vim-redact-pass.git/
