source ~/.vimrc
nnoremap ,o :action OptimizeImports<cr>
nnoremap ,r :action ReformatCode<cr>
nnoremap ,c :action RenameElement<cr>
nnoremap ,fu :action FindUsages<cr>
nnoremap ,ff :action FindInPath<cr>
nnoremap ,th :action TypeHierarchy<cr>

set surround
