source ~/.vimrc
nnoremap ,o :action OptimizeImports<cr>
nnoremap ,r :action ReformatCode<cr>
nnoremap ,c :action RenameElement<cr>
nnoremap ,ic :action IntroduceConstant<cr>
nnoremap ,mm :action Move<cr>
nnoremap ,fu :action FindUsages<cr>
nnoremap ,ff :action FindInPath<cr>
nnoremap ,th :action TypeHierarchy<cr>
nnoremap ,x :action CloseAllEditorsButActive<cr>
nnoremap ,s :action GotoSymbol<cr>
nnoremap ,gf :action GotoFile<cr>
nnoremap gn :action MethodDown<CR>
nnoremap gp :action MethodUp<CR>
nnoremap gi :action GotoImplementation<CR>

set surround
set ideajoin
set relativenumber

nnoremap ma :action ToggleBookmarkA<CR>
nnoremap 'a :action GotoBookmarkA<CR>
nnoremap mb :action ToggleBookmarkB<CR>
nnoremap 'b :action GotoBookmarkB<CR>
nnoremap mc :action ToggleBookmarkC<CR>
nnoremap 'c :action GotoBookmarkC<CR>
nnoremap md :action ToggleBookmarkD<CR>
nnoremap 'd :action GotoBookmarkD<CR>
nnoremap me :action ToggleBookmarkE<CR>
nnoremap 'e :action GotoBookmarkE<CR>
nnoremap mf :action ToggleBookmarkF<CR>
nnoremap 'f :action GotoBookmarkF<CR>
nnoremap mg :action ToggleBookmarkG<CR>
nnoremap 'g :action GotoBookmarkG<CR>
nnoremap mh :action ToggleBookmarkH<CR>
nnoremap 'h :action GotoBookmarkH<CR>
nnoremap mi :action ToggleBookmarkI<CR>
nnoremap 'i :action GotoBookmarkI<CR>
nnoremap mj :action ToggleBookmarkJ<CR>
nnoremap 'j :action GotoBookmarkJ<CR>
nnoremap mk :action ToggleBookmarkK<CR>
nnoremap 'k :action GotoBookmarkK<CR>
nnoremap ml :action ToggleBookmarkL<CR>
nnoremap 'l :action GotoBookmarkL<CR>
nnoremap mm :action ToggleBookmarkM<CR>
nnoremap 'm :action GotoBookmarkM<CR>
nnoremap mn :action ToggleBookmarkN<CR>
nnoremap 'n :action GotoBookmarkN<CR>
nnoremap mo :action ToggleBookmarkO<CR>
nnoremap 'o :action GotoBookmarkO<CR>
nnoremap mp :action ToggleBookmarkP<CR>
nnoremap 'p :action GotoBookmarkP<CR>
nnoremap mq :action ToggleBookmarkQ<CR>
nnoremap 'q :action GotoBookmarkQ<CR>
nnoremap mr :action ToggleBookmarkR<CR>
nnoremap 'r :action GotoBookmarkR<CR>
nnoremap ms :action ToggleBookmarkS<CR>
nnoremap 's :action GotoBookmarkS<CR>
nnoremap mt :action ToggleBookmarkT<CR>
nnoremap 't :action GotoBookmarkT<CR>
nnoremap mu :action ToggleBookmarkU<CR>
nnoremap 'u :action GotoBookmarkU<CR>
nnoremap mv :action ToggleBookmarkV<CR>
nnoremap 'v :action GotoBookmarkV<CR>
nnoremap mw :action ToggleBookmarkW<CR>
nnoremap 'w :action GotoBookmarkW<CR>
nnoremap mx :action ToggleBookmarkX<CR>
nnoremap 'x :action GotoBookmarkX<CR>
nnoremap my :action ToggleBookmarkY<CR>
nnoremap 'y :action GotoBookmarkY<CR>
nnoremap mz :action ToggleBookmarkZ<CR>
nnoremap 'z :action GotoBookmarkZ<CR>
nnoremap m0 :action ToggleBookmark0<CR>
nnoremap '0 :action GotoBookmark0<CR>
nnoremap m1 :action ToggleBookmark1<CR>
nnoremap '1 :action GotoBookmark1<CR>
nnoremap m2 :action ToggleBookmark2<CR>
nnoremap '2 :action GotoBookmark2<CR>
nnoremap m3 :action ToggleBookmark3<CR>
nnoremap '3 :action GotoBookmark3<CR>
nnoremap m4 :action ToggleBookmark4<CR>
nnoremap '4 :action GotoBookmark4<CR>
nnoremap m5 :action ToggleBookmark5<CR>
nnoremap '5 :action GotoBookmark5<CR>
nnoremap m6 :action ToggleBookmark6<CR>
nnoremap '6 :action GotoBookmark6<CR>
nnoremap m7 :action ToggleBookmark7<CR>
nnoremap '7 :action GotoBookmark7<CR>
nnoremap m8 :action ToggleBookmark8<CR>
nnoremap '8 :action GotoBookmark8<CR>
nnoremap m9 :action ToggleBookmark9<CR>
nnoremap '9 :action GotoBookmark9<CR>
