<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/X11R6/share/openbox/menu.xsd">
	<menu id="root-menu" label="openbox3">
		<item label="Console">
			<action name="Execute">
				<execute>
					xterm
				</execute>
			</action>
		</item>
		<item label="File Explorer">
			<action name="Execute">
				<execute>
					thunar
				</execute>
			</action>
		</item>
		<item label="Notepad">
			<action name="Execute">
				<execute>
					gedit
				</execute>
			</action>
		</item>
		<item label="Web">
			<action name="Execute">
				<execute>
					chromium
				</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-combined-menu"/>
		<separator label="Applications"/>
		<menu id="Accessoires" label="Accessoires">
			<item label="File Roller">
				<action name="Execute">
					<execute>
						file-roller
					</execute>
				</action>
			</item>
			<item label="Calc">
				<action name="Execute">
					<execute>
						xterm -e bc
					</execute>
				</action>
			</item>
			<item label="PDF Viewer">
				<action name="Execute">
					<execute>
						evince
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Audio et Video" label="Audio et Video">
			<item label="VLC">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Jeux" label="Jeux">
			<item label="KoboDeluxe">
				<action name="Execute">
					<execute>
						kobodl
					</execute>
				</action>
			</item>
			<item label="Slime Volley">
				<action name="Execute">
					<execute>
						slimevolley
					</execute>
				</action>
			</item>
			<item label="Xmoto">
				<action name="Execute">
					<execute>
						xmoto
					</execute>
				</action>
			</item>
			<item label="xrick">
				<action name="Execute">
					<execute>
						xrick
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Réseau" label="Réseau">
			<item label="Chromium">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="Opera">
				<action name="Execute">
					<execute>
						opera
					</execute>
				</action>
			</item>
			<item label="Linux DC++">
				<action name="Execute">
					<execute>
						linuxdcpp
					</execute>
				</action>
			</item>
		</menu>
		<menu id="Outils système" label="Outils système">
			<item label="Console">
				<action name="Execute">
					<execute>
						xterm
					</execute>
				</action>
			</item>
			<item label="Reconfigure OB">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<separator/>
		<item label="Verrouiller l'écran">
			<action name="Execute">
				<execute>
					xlock -mousemotion +description -mode blank -bg black -fg grey30
				</execute>
			</action>
		</item>
		<item label="Quitter">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
